.image1 {
   
    top: 7%;
    left: 5%;
    position: absolute;
    
}

.Header01 {
    
    top: 2%;
    left: 12%;
    padding: 1.5%;
    font: 500 18px/22px 'Kanit';
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.container {
    position: absolute;
    top: 2.2%;
    right:9%;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}

.list-item, .list-item1 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    padding: 10px;
    border-color: transparent;
    font: 500 14px/18px 'Inter';
    color: #081E34;
}

.list-item {
    justify-content: flex-end;
    background-color: transparent;
}

.list-item1 {
    justify-content: flex-end;
    margin-left: 20px;
    border-radius: 20px;
}

.list-item2 {
    justify-content:baseline;
    margin-left: 20px;
    border-radius: 20px;
    border-color: transparent;
    font: 500 14px/18px 'Inter';
    color: #ffffff;
    background-color: #a165c4;
}





img {
    float: right;
    right: 5%;
    top: 25%;
    max-width: 100%;
    height: auto;

  }

  .content-text {
    align-items:  center;
  }

.im3 {
    
width: 48.57px;
height: 64px;

}

.im2 {
    width: 48.3px;
height: 64px;
}

.im1 {
    width: 35.13px;
height: 64px;
}

.H4 {
    width: 351px;
    height: 56px;
    
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 56px;
    /* identical to box height, or 104% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.P1 {
    
    width: 169px;
    height: 16px;
    
    /* Caption 12 pt/Regular */
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.but4 {
    margin-left: 20px;
    border-radius: 20px;
    background-color: #a165c4;
    font-family: 'Inter';
font-style: normal;
color: #FFFFFF;
}

.headermid {
    


font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
/* identical to box height, or 117% */

display: flex;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.parag {


font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 138% */

display: flex;

color: #000000;


flex: none;
order: 1;
flex-grow: 0;
}

.Head3 {


font-family: 'Kanit';
font-style: normal;
font-weight: 700;
font-size: 54px;
line-height: 64px;
/* or 119% */

display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.Head5 {


font-family: 'Kanit';
font-style: normal;
font-weight: 700;
font-size: 54px;
line-height: 64px;
/* identical to box height, or 119% */

display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}